body {

}

.keyword {
	font-weight: bold;
}

.jumbotron {
	padding: 40px 15px 10px 15px;
	text-align: center;
}

.generated-text {
	font-size: 50px;
}

.down {
	font-size: 50px;
}

.stopplay {
	position: fixed;
    top: 15px;
    right: 15px;
    font-size: 40px;
}

audio {
	display: none;
}

#stop {
	display: none;
}

.fa-refresh {
	display: none;
}

#generateButton {
	font-size: 75px;
}

.share {
	font-size: 18px;
}

.fa-twitter, .fa-facebook {
	font-size: 35px
}

.button:hover {
	color: #666;
}

#jumbotron {
	height: 100vh;
}

#chimpSvg {
	max-height: 40%;
}