body {

}

.jumbotron {
	padding: 40px 15px 10px 15px;
	text-align: center;
}

.down {
	font-size: 50px;
}

footer {
	text-align: center;
}

.stopplay {
	position: fixed;
    top: 15px;
    right: 15px;
    font-size: 40px;
}

audio {
	display: none;
}

#stop {
	display: none;
}