.keyword {
	font-weight: bold;
}

.jumbotron {
	padding: 40px 15px 10px 15px;
	text-align: center;
}

.generated-text {
	font-size: 50px;
}

.down {
	font-size: 50px;
}

.stopplay {
	position: fixed;
    top: 15px;
    right: 15px;
    font-size: 40px;
}

audio {
	display: none;
}

#stop, #play {
	display: none;
}

.fa-refresh {
	display: none;
}

#generateButton {
	font-size: 75px;
}

.share {
	font-size: 18px;
}

.fa-twitter, .fa-facebook {
	font-size: 35px
}

.button:hover {
	color: #666;
}

#jumbotron {
	height: 100vh;
}

.topHalfMain {
	max-height: 50%;
}

.bottomHalfMain {
	max-height: 50%;
}

footer {
	height:8%;
	margin:0;
	padding:0;
	min-height:35px;
	background-color: #eee;
	border-top: solid #ddd 1px;
}

#wrapper {
	height:90%;
	position:relative;
	overflow-y:hidden;
	overflow-x:hidden;
}

#shareIdea {

}