# Created by .gitignore support plugin (hsz.mobi)
.hooks
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/chimp.iml
.idea/.name